<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="MARINTEK WikiText 1.2.0" sequenceNumber="0">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
<unit id="org.apache.xmlgraphics" version="1.4.0.v201301251218"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.wikitext.core" version="1.9.0.20131007-2055"/>
<repository location="http://download.eclipse.org/mylyn/releases/kepler/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.osgi" version="3.9.1.v20130814-1242"/>
<unit id="org.eclipse.core.runtime" version="3.9.0.v20130326-1255"/>
<unit id="org.eclipse.core.contenttype" version="3.4.200.v20130326-1255"/>
<unit id="org.eclipse.core.jobs" version="3.5.300.v20130429-1813"/>
<unit id="org.eclipse.equinox.preferences" version="3.5.100.v20130422-1538"/>
<unit id="org.eclipse.equinox.registry" version="3.5.301.v20130717-1549"/>
<unit id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<unit id="org.eclipse.equinox.app" version="1.3.100.v20130327-1442"/>
<repository location="http://download.eclipse.org/releases/kepler/"/>
</location>
</locations>
</target>
